.div {
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

h3 {
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 2rem;
    margin: 0 0 2rem 0;
}