@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Edu+SA+Beginner:wght@700&display=swap');


.App {
  font-family: 'Edu SA Beginner';
  display: flex;
  flex-direction: column;
  background-color: rgb(9, 20, 10);
}